:root {
    --bs-body-font-family:"Noto Sans TC", Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 300;
    --bs-primary-rgb: 153, 151, 166;
    --bs-link-color: rgb(73, 73, 100);
    --bs-link-hover-color: rgb(153, 151, 166);
}

/* --- 1. 更換全站字體 --- */
/* 選取 body 和所有標題，以及 subheading，將字體設為思源黑體 */
/* "Noto Sans TC" 必須對應我們在 HTML 中 <link> 引入的字體名稱 */
body, h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, .subheading {
    font-family: "Noto Sans TC", sans-serif;
    text-transform: none; /* 取消模板預設的英文字母大寫 */
    font-weight: 400;
}


/* 範例中，我們保留 h2 的大寫樣式，讓區塊標題更顯眼 */
h2 {
text-transform: uppercase;
}

.tooltip, .popover, .subheading {
    font-family: "Noto Sans TC" ,"Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 300;
    text-transform: none;
}

/* --- mail的底線 --- */
a{
    text-decoration:none ;
}

/* --- 哀居圖標的顏色 --- */
.social-icons .social-icon:hover {
    background-color: rgb(153, 151, 166);
    background-image:url("../assets/img/argyle.png") ;
}


nav{
    background-image:url("../assets/img/鳥.png") ;
}

.resume-section{
    background-color: rgb(245, 239, 218);
}

p.lead {
    font-size: 1.5rem;
    font-weight: 500;
}

p {
    font-size: 1.15rem;
}

body, h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, .subheading {
    font-family: "Noto Sans TC", sans-serif;
    text-transform: none;
    font-weight: 400;
}

.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    font-size: 1.15rem;
}

p {
    font-size: 1.3rem;
}